<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Displaying data</title>
<link rel="stylesheet" th:href="@{/css/display.css}"></link>
</head>
<body>
<div id="container">
<h2>All Contact Details</h2>
<a th:href="@{'addcontact'}">Add new User</a>
<table>
<tr>
<th>Id</th>
<th>First Name</th>
<th>Last Name</th>
<th>Address</th>
<th>Email</th>
<th>Mobile</th>
</tr>
<tr th:each="user : ${userdata}">
<td th:text="${user.id}"></td>
<td th:text="${user.fname}"></td>
<td th:text="${user.lname}"></td>
<td th:text="${user.address}"></td>
<td th:text="${user.email}"></td>
<td th:text="${user.mobile}"></td>
<td>
<a th:href="@{'/edit/' + ${user.email}}">Edit</a>
<a th:href="@{'/delete/' + ${user.id}}">Delete</a>
</td>
</tr>
</table>
<div>
<p th:if="${success}" th:text="${success}">
</div>
</div>
</body>
</html>
